.media-btn {
  border-radius: 4px;
  cursor: pointer;
}

.media-btn:hover {
  background-color: lightgrey;
}

.media-container {
  margin-bottom: 14px;
}

.message {
  display: flex;
}

.right {
  justify-content: flex-end;
}